<footer id="footer">


  <div class="container">
    <div class="copyright">
          <strong> 2022 - PharmacieSautheuz.fr</strong> - Tous droits réservés
    </div>
    <div class="credits">
          <a href="">Mentions légales</a>
    </div>
  </div>
</footer><!-- #footer -->

</body>