<%- include('header_user') %>

    <div id="inputContainer" class="container w-50 p-5">
        <div class="mb-4 text-center display-4">
            <h1 >Ajouter un Médicament</h1>
        </div>
        <form action=""></form>
            <div class="input-group">
                <span class="input-group-text" id="">Nom</span>
                <input type="text" class="form-control" id="medicNom" placeholder="">
            </div>
            <br>
            <small class="text-muted">(nombre de boites)</small>
            <div class="input-group">
                <span class="input-group-text" id="">Quantité en stock </span>
                <input type="text" class="form-control" id="medicQteStock" placeholder="">
            </div>
            <br>
            <small class="text-muted">(comprimé, pastille, pilule ...)</small>
            <div class="input-group">
                <span class="input-group-text" id=""> Type :</span>
                <input type="text" class="form-control" id="medNum" placeholder="">
            </div>
            <br>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-block" id="btnAjouterMedicament">Ajouter</button>
            </div>
        </form>
        
        <br>
    </div>

<%- include('footer') %>