<%- include('header_user') %>



    <div id="inputContainer" class="container w-50 p-5">
        <div class="mb-4 text-center display-4">
            <h1 >Ajouter un Médecin</h1>
        </div>
        <form action="/medecin/formulaire" method="POST" enctype="application/x-www-form-urlencoded"></form>
            
            <div class="input-group">
                <span class="input-group-text" id="">Nom</span>
                <input type="text" class="form-control" id="medNom" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="">Prénom</span>
                <input type="text" class="form-control" id="medPrenom" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="">Diplome</span>
                <select class="form-select" name="medDiplome" id="medDiplome">
                    <% formMedecin.forEach(function(res){ %>
                        <option value="<%= res.dip_Id %>"><%= res.dip_Nom %></option>
                    <% }) %> 
                </select>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="">Numéro de téléphone</span>
                <input type="text" class="form-control" id="medNum" placeholder="">
            </div>
            <br>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-block" id="btnAjouterMedecin">Ajouter</button>
            </div>
        </form>
        
        <br>
    </div>

    
            <!-- <label for="btnDeposerPermis">Permis d'exercer :</label>
            <button id="btnDeposerPermis" name="btnDeposerPermis">Déposer un fichier</button> -->

<%- include('footer') %>