<%- include('header_user') %>

    <div id="inputContainer" class="container w-50 p-5">
        <div class="mb-4 text-center display-4">
            <h1 >Ajouter un Pathologie</h1>
        </div>
        <form action="/pathologie/formulaire"></form>
            <div class="input-group">
                <span class="input-group-text" id="">Nom</span>
                <input type="text" class="form-control" id="pathNom" placeholder="">
            </div>
            <br>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-block" id="btnAjouterPathologie">Ajouter</button>
            </div>
        </form>
    </div>
    
<%- include('footer') %>