<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="icon" type="image/png" sizes="16*16" href="/images/logo_pharmacie.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<header id="header" class="fixed-top">

    <nav class="navbar navbar-light bg-light main-nav">  
                    
        <div class="logo float-left">
            <a class="navbar-brand" href="http://localhost:3000/accueil">
                <img src="/images/logo_pharmacie.png" class="">
                Pharmacie SAUTHEUZ
            </a>
        </div>
            
        <form class="form-group form-inline">
            
            <ul id="menu-deroulant">
                <li id="li-menu"><a href="#">Parcourir</a>
                    <ul>
                        <li><a href="#">Liste Médecin</a></li>
                        <li><a href="#">Liste Patient</a></li>
                        <li><a href="#">Liste Ordonnance</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Ajouter</a>
                    <ul>
                        <li><a href="#">Un médecin</a></li>
                        <li><a href="#">Un patient</a></li>
                        <li><a href="#">Une Ordonnance</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Rechercher</a>
                    <ul>
                        <li><a href="#">Un Médecin</a></li>
                        <li><a href="#">Un patient</a></li>
                        <li><a href="#">Une Ordonnance</a></li>
                    </ul>
                </li>
            </ul>

        </form>

        
    </nav><!-- main-nav -->
        
</header><!-- #header -->

<body>
