<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header id="header" class="fixed-top">

        <nav class="navbar navbar-light bg-light main-nav">  
                    
            <div class="logo float-left">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo_pharmacie.png" class="">
                    Pharmacie SAUTHEUZ
                </a>
            </div>
            
            <form class="form-group form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" id="recherche_accueil" placeholder="Rechercher">
                </div>
                <button class="btn btn-success" id="btnConnexion">Connexion</button>
            </form>

        </nav><!-- main-nav -->
        
    </header><!-- #header -->