<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="icon" type="image/png" sizes="16*16" href="/images/logo_pharmacie.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<header id="header" class="fixed-top">

    <nav class="navbar navbar-light bg-light main-nav">  
                    
        <div class="logo float-left">
            <a class="navbar-brand" href="http://localhost:3000/accueil">
                <img src="/images/logo_pharmacie.png" class="">
                Pharmacie SAUTHEUZ
            </a>
        </div>
            
        <form class="form-group form-inline">
            
            <ul id="menu-deroulant">
                <li id="li-menu"><a href="#">Parcourir</a>
                    <ul>
                        <li><a href="http://localhost:3000/intranet/medecin">Liste Médecin</a></li>
                        <li><a href="http://localhost:3000/intranet/patient">Liste Patient</a></li>
                        <li><a href="http://localhost:3000/intranet/ordonnance">Liste Ordonnance</a></li>
                        <li><a href="http://localhost:3000/intranet/pathologie">Liste Pathologie</a></li>
                        <li><a href="http://localhost:3000/intranet/medicament">Liste Médicament</a></li>
                        <li><a href="http://localhost:3000/intranet/diplome">Liste Diplôme</a></li>
                        <li><a href="http://localhost:3000/intranet/mutuelle">Liste Mutuelle</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Ajouter</a>
                    <ul>
                        <li><a href="http://localhost:3000/intranet/formulaire/medecin">Un Médecin</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/patient">Un Patient</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/ordonnance">Une Ordonnance</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/pathologie">Une Pathologie</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/medicament">Un Médicament</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/diplome">Un Diplôme</a></li>
                        <li><a href="http://localhost:3000/intranet/formulaire/mutuelle">Une Mutuelle</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Rechercher</a>
                    <ul>
                        <li><a href="http://localhost:3000/intranet/recherche/medecin">Un Médecin</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/patient">Un patient</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/ordonnance">Une Ordonnance</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/pathologie">Une Pathologie</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/medicament">Un Médicament</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/diplome">Un Diplôme</a></li>
                        <li><a href="http://localhost:3000/intranet/recherche/mutuelle">Une Mutuelle</a></li>
                    </ul>
                </li>
            </ul>

        </form>

        
    </nav><!-- main-nav -->
        
</header><!-- #header -->

<body>
