<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="icon" type="image/png" sizes="16*16" href="/images/logo_pharmacie.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<header id="header" class="fixed-top">

    <nav class="navbar navbar-light bg-light main-nav">  
                    
        <div class="logo float-left">
            <a class="navbar-brand" href="http://localhost:3000/accueil">
                <img src="/images/logo_pharmacie.png" >
                Pharmacie SAUTHEUZ
            </a>
        </div>
            
        <form class="form-group form-inline">
            <a href="http://localhost:3000/inscription" class="btn btn-success" id="btnConnexion">Connexion</a>
        </form>

        
    </nav><!-- main-nav -->
        
</header><!-- #header -->

<body>

   