<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="stylesheet"href="/css/bootstrap/bootstrap.min.css">
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <img src="" class="">
                <h1 class="text-light"><span>Pharmacie SAUTHEUZ</span></h1>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="/">Client</a></li>
                    <li><a href="/">Ordonnance</a></li>
                    <li><a href="/">Stock</a></li>
                    <li><a href="/">Mes Infos</a></li>
                </ul>
            </nav><!-- main-nav -->
        
        </div>
    </header><!-- #header -->