<%- include('header') %>
        
        <div class="dark-photo">
            <img src="/public/images/pharmacie.png" id="img-darken">
            <h3>Pharmacie SAUTHEUZ</h3>
        </div>

<%- include('footer') %>