<%- include('header') %>
        <div class="dark-photo">
            <h3><strong> Pharmacie SAUTHEUZ</strong></h3>
            <p class="p-legend">À vos côtés depuis 1998, nous vous assurons un accès <br> aux traitements dont vous avez besoin.</p>
        </div>

        <div class="container w-50">
            <div class="service-title">
                <h4><strong>Nos Services</strong></h4>
            </div>
                
              <div class="row item-service-container">
                <div class="container col item-service" style="text-align: center;">
                  <img src="/images/medoc_icone.png" class="img-service">
                  <p class="legend-service">Médicaments à usage humain ou vétérinaire</p>
                </div>
                <div class="container col item-service" style="text-align: center;">
                  <img src="/images/huile_icone.png" class="img-service">
                  <p class="legend-service">Huiles essentielles</p>
                </div>
                <div class="container col item-service" style="text-align: center;">
                  <img src="/images/diet_icone.png" class="img-service">
                  <p class="legend-service">Aliments diététiques</p>
                </div>
              </div>

              <div class="row item-service-container">
                <div class="container col item-service" style="text-align: center;">
                    <img src="/images/plantes_icone.png" class="img-service">
                    <p class="legend-service">Plantes médicinales</p>
                </div>
                <div class="container col item-service" style="text-align: center;">
                    <img src="/images/homeopathie_icone.png" class="img-service">
                    <p class="legend-service">Homéopathies</p>
                </div>
              </div>
        </div>

<%- include('footer') %>