<%- include('header') %>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quasi officia, vitae rem eum et necessitatibus cumque illum itaque magnam incidunt placeat porro repellat modi amet ullam! Saepe esse ipsa totam quisquam nam dolore provident, ex omnis animi doloremque quo qui distinctio? Aperiam, rerum magnam sequi nam accusantium cum excepturi molestias itaque aspernatur, enim ipsum nemo perferendis reiciendis porro eveniet? A, nam fuga. Sit possimus id odio saepe, necessitatibus quia qui in nisi, odit temporibus quo amet, itaque veniam perferendis consectetur facere eos! Eaque quam vero rem quos molestias, similique quidem! Officiis dignissimos praesentium et commodi voluptatum est, debitis assumenda dolor quaerat, beatae delectus odio incidunt ad nulla modi officia rem inventore sequi. Architecto, quo deleniti impedit molestias temporibus minima. ipsum dolor sit amet consectetur adipisicing elit. Numquam impedit facere iusto odio, modi eum facilis blanditiis autem nemo qui quod, magnam sequi. Quis praesentium mollitia tempore ea. Reiciendis, optio.
    </div>

    <br>
    <br>

    <a href="http://localhost:3000/intranet/accueil" class="btn btn-success" id="btnConnexion">Intranet Accueil</a>

<%- include('footer') %>