<%- include('header') %>
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                
            
              <div class="mb-5">
                <h1 >Connexion</h1>
                <p style="font-size:smaller; color: rgb(103, 103, 103);" >Veuillez vous connecter pour accéder à l’intranet</p>
              </div>
            
              <form action="/inscription" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-outline mb-4">
                  <label class="form-label" for="pharIdentifiant" style="font-size:smaller; color: rgb(103, 103, 103);">Identifiant</label>
                  <input type="text" id="pharIdentifiant" class="form-control form-control-lg" placeholder="Ex : Corleone" name="pharIdentifiant" />
                </div>
    
                <div class="form-outline mb-4">
                  <label class="form-label" for="pharMdp" style="font-size:smaller; color: rgb(103, 103, 103);">Mot de passe</label>
                  <input type="password" id="pharMdp" class="form-control form-control-lg" placeholder="Ex : sautheuz894" name="pharMdp" />
                </div>
    
                <button type="submit" class="btn btn-success btn-lg btn-block m-3" id="btnConnexion">Connexion</button>
              </form>

              <hr class="my-4">

              <p style="font-size:smaller; color: rgb(103, 103, 103);" >vous avez oubliez votre mot de passe ? <a href="#">Réinitialisez le !</a></p>
  
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <a href="http://localhost:3000/accueil" class="btn btn-success" id="btnConnexion">Intranet Accueil</a>

<%- include('footer') %>