<%- include('header_user') %>

<div class="mb-4 text-center display-4 mt-5">
    <h1 >Liste des Diplomes</h1>
</div>

    <br>
    <br>

    <div> 
        <strong>Diplomes :</strong>
        <ul> <% dataDiplome.forEach(function(res){ %>
            <li>
                <%= res.dip_Nom %> <a href="http://localhost:3000/diplome/modifier/<%= res.dip_Id %> ">modifier</a> <a href="http://localhost:3000/diplome/supprimer">supprimer</a>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>