<%- include('header_user') %>

    <div class="mb-4 text-center display-4 mt-5">
        <h1 >Liste des Pathologies</h1>
    </div>

    <br>
    <br>

    <div> 
        <strong>Pathologies :</strong>
        <ul> <% dataPathologie.forEach(function(res){ %>
            <li>
                <%= res.path_Nom %> <a href="http://localhost:3000/pathologie/modifier/<%= res.path_Id %> ">modifier</a> <a href="http://localhost:3000/pathologie/supprimer">supprimer</a>
            </li>
        <% }) %> 
        </ul>
    </div>

<%- include('footer') %>