<%- include('header') %>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis architecto voluptas ullam enim quae necessitatibus molestiae dignissimos fugiat. Odit non saepe voluptate commodi, vero fugit ut soluta dolore sunt quae nobis officiis accusantium eius dolorum optio repudiandae nesciunt. Deserunt odit, corrupti inventore praesentium, unde quos fugit, facilis eius necessitatibus commodi vitae consequatur est at illo ex optio sapiente. Reprehenderit aperiam nam velit, dolore esse ullam consequuntur laborum vel et quasi est facere deleniti quam tenetur numquam praesentium tempore laboriosam. Blanditiis dicta similique nulla, distinctio a neque natus maxime! Ea iste harum illo obcaecati nemo debitis quaerat quidem voluptates et molestias aut optio possimus similique odit, repellendus minima asperiores quam libero, in a delectus? Corrupti voluptatum et perspiciatis deleniti, dolore id! ipsum dolor sit amet consectetur adipisicing elit. Optio ducimus enim quod ullam similique tenetur laboriosam amet rerum eligendi? Earum illum fugiat dignissimos consectetur ea architecto harum doloribus eligendi aliquid?
    </div>

    <br>
    <br>

    <div>
        <a href="http://localhost:3000/intranet/medecin" class="btn btn-success" id="btnAffMedecin">Afficher les médecins</a>
        <a href="http://localhost:3000/intranet/ordonnance" class="btn btn-success" id="btnAffOrdonnance">Afficher les ordonnances</a>
        <a href="http://localhost:3000/intranet/patient" class="btn btn-success" id="btnAffPatient">Afficher les patients</a>
        <a href="http://localhost:3000/intranet/mutuelle" class="btn btn-success" id="btnAffMutuelle">Afficher les mutuelles</a>
        <a href="http://localhost:3000/intranet/pathologie" class="btn btn-success" id="btnAffPathologie">Afficher les pathologies</a>
        <a href="http://localhost:3000/intranet/medicament" class="btn btn-success" id="btnAffMedicament">Afficher les médicaments</a>
        <a href="http://localhost:3000/intranet/diplome" class="btn btn-success" id="btnAffDiplome">Afficher les diplomes</a>
        <br>
        <br>
        <a href="http://localhost:3000/intranet/formulaire/medecin" class="btn btn-success" id="btnAjMedecin">Ajouter un médecin</a>
        <a href="http://localhost:3000/intranet/formulaire/ordonnance" class="btn btn-success" id="btnAjOrdonnance">Ajouter une ordonnance</a>
        <a href="http://localhost:3000/intranet/formulaire/patient" class="btn btn-success" id="btnAjPatient">Ajouter un patient</a>
        <a href="http://localhost:3000/intranet/formulaire/mutuelle" class="btn btn-success" id="btnAjMutuelle">Ajouter une mutuelle</a>
        <a href="http://localhost:3000/intranet/formulaire/pathologie" class="btn btn-success" id="btnAjPathologie">Ajouter une pathologie</a>
        <a href="http://localhost:3000/intranet/formulaire/medicament" class="btn btn-success" id="btnAjMedicament">Ajouter un médicament</a>
        <a href="http://localhost:3000/intranet/formulaire/diplome" class="btn btn-success" id="btnAjDiplome">Ajouter un diplome</a>
    </div>

<%- include('footer') %>