<%- include('header_user') %>

<div class="container w-50 p-5">
    <div class="mb-5 text-center display-4">
        <h1 >Modifier un Diplome</h1>
    </div>
    
    <div> <% dataDiplome.forEach(function(res){ %>
        <form action="/diplome/modifier/<%= res.dip_Id %>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-text" for="dipNom" id="">Nom</span>
                    <input type="text" class="form-control" id="dipNom" name="dipNom" value="<%= res.dip_Nom %>">
                </div>
                <hr class="my-4">
                <div class="col-md-12 text-center"> 
                    <button type="submit" class="btn btn-success btn-block ">Modifier</button>
                </div>
                <% }) %>
            </div> 
        </form>
    </div>
    <a href="http://localhost:3000/diplome"><img src="/images/goback.png" class="li-icon"></a>
</div>

<%- include('footer') %>