<%- include('header_user') %>

<div  class="container w-50 p-5">
    <div class="mb-5 text-center display-4">
        <h1 >Vous cherchez des informations sur une mutuelle ?</h1>
    </div>
    <form action="/mutuelle/recherche" method="POST" enctype="application/x-www-form-urlencoded">
        
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" for="mutNom">Nom</span>
                <input type="text" class="form-control" id="mutNom" name="mutNom" placeholder="tapez son nom ici..">
            </div>
            <hr class="my-4">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-block">Rechercher</button>
            </div>
        </div>
    </form>
</div>


<%- include('footer') %>